.Welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 80%;
  height: 100%;
}

.Welcome h2 {
  font-size: 3rem;
}

.Welcome .Intro {
  font-size: 1.6rem;
  text-align: center;
}

.A-List-Of-Things-You-Can-Do-Or-Whatever {
  font-size: 1.4rem;
}

@media only screen and (max-width: 400px) {
  .Welcome > p {
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
  }
}
