.PoemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 20px;

  animation: fade-in 2s forwards ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(-2%);
  }
  30% {
    transform: translateY(2%);
  }
  38% {
    transform: translateY(-1%);
  }
  44% {
    transform: translateY(1%);
  }
  48% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}
