.Header {
  width: 100%;
  padding: 10px;
}

.Header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.Header-Links {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
}

.Header-Links li {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .Header-Title h1 {
    font-size: 1.8rem;
  }
}
