.Header {
  width: 100%;
  padding: 10px;
}

.Header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.Header-Links {
  display: flex;
  gap: 2rem;
}

.Header * {
  color: white;
}
