.Poem-Title-Container.mood_joy {
  background-color: blue;
}

.Poem-Title-Container.mood_peace {
}

.Poem-Title-Container.mood_sorrow {
  background-color: rgb(255, 17, 0);
}

.Poem-Title-Container.mood_anger {
}

.Poem-Title-Container.mood_fear {
  background-color: rgb(112, 112, 112);
}
